.plant-search__disclaimer {
  text-align: center;
}

.plant-search ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.plant-search a {
  text-decoration: none;
}

.plant-search {
  width: 100%;
}

.plant-search__form {
  margin: 0 auto;
  max-width: 30rem;
  display: flex;
  align-items: flex-end;
}

.plant-search__input {
  font-size: 1.4rem;
  border-radius: 5px;
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.4rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 813px) {
  .plant-search__disclaimer {
    font-size: 1rem;
    text-align: left;
  }
}